hydrogram
git+https://github.com/aio-libs/async-lru.git#egg=async_lru
tgcrypto
pyromod
tortoise-orm
gpytranslate
meval
speedtest-cli
httpx[http2]
regex
telegraph
pytio
yt-dlp
humanfriendly
Pillow
qrcode[pil]
babel
