git+https://github.com/pyrogram/pyrogram.git
git+https://github.com/aio-libs/async-lru.git#egg=async_lru
tgcrypto
tortoise-orm
gpytranslate
meval
speedtest-cli
httpx[http2]
regex
telegraph
pytio
youtube-dl
humanfriendly
pyromod
Pillow
qrcode[pil]
opencv-python
pyzbar
babel
