git+https://github.com/pyrogram/pyrogram.git
git+https://github.com/aio-libs/async-lru.git#egg=async_lru
tgcrypto
gpytranslate
meval
speedtest-cli
httpx[http2]
regex
telegraph
Pillow
pytio
youtube-dl
humanfriendly
pyromod
